h1 {
  color: red;
  text-align: center;
}
header {
  background-color: antiquewhite;
  text-align: center;
  font-weight: 700;
}
form {
  border-color: black;
  border: 3px;
  display: block;
  text-align: center;
  background-color: rgb(245, 245, 201);
  width: max-content;
  margin-inline: auto;
  border-radius: 8px;
}
.formg {
  display: block;
  text-align: center;
}
label {
  label {
    display: block;
  }
}
.insieme {
  background-color: azure;
  padding-top: 100px;
  padding-bottom: 100px;
}
main {
  text-align: center;
  background-color: rgb(179, 179, 98);
}
